@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

/* font-family: 'Electrolize', sans-serif;
font-family: 'Press Start 2P', cursive; */

body {
  background-image: url(../img/background.png);
  background-attachment: fixed;
  
}

main {
  font-family: "Electrolize", sans-serif;
  display: flex;
  align-self: end;

  min-width: 1280px;
  /* max-height: 720px; */
}


header {
  font-family: "Press Start 2P", cursive;
  color:white !important;

  background-image: url(../img/header.jpg);
  background-attachment: fixed;
  background-size: contain, cover;

  background-size: 100%;
  min-width: 1280px;

}

#slot-machine {
  position: relative;
  width: 816px;
  height: 624px;
  background-image: url(../img/slot-machine-2.png);
}

#slot-screen {
  position: absolute;
  display: flex;
  top: 50%;
  left: 25%;
}

.slot {
  width: 96px;
  height: 96px;
  margin-left: 2rem;
  margin-right: 2rem;
}

#slot-symbol-0 {
  margin-left: 1rem;
}

.slot-img-1 {
  background-image: url(../img/slot-machine-1.png);
}

.slot-img-2 {
  background-image: url(../img/slot-machine-2.png);
}

.blur {
  filter: blur(0.5rem);
  transition: blur 1s;
}

.hidden {
  display: none;
}

#hud {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  background-color: grey;
  color: white;
  padding: 1rem;
  border: 2px solid white;
  font-size: 2rem;
}

#spin {
  color: black;
}

strong {
  text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    width:50%;
    height: auto;
}

